<div>
  <h1>View incoming deliveries.</h1>
  <p>Select a receiving organization to view incoming deliveries.</p>
  <select ng-init="selectedOrg = orgs[0]"
          ng-model="selectedOrg"
          ng-options="org as org.name for org in orgs track by org.id"></select>
  <table class="table table-hover" ng-model="deliveries">
    <thead>
      <tr>
        <th>Restaurant</th>
        <th>Description</th>
        <th>Meals Provided</th>
        <th>Notes</th>
      </tr>
    </thead>
    </tbody>
      <tr ng-repeat="deliv in deliveries">
        <td>{{deliv.restaurantID}}</td>
        <td>{{deliv.description}}</td>
        <td>{{deliv.quantity}}</td>
        <td>{{deliv.notes}}</td>
      </tr>
    </tbody>
  </table>
</div>